# Data Science Tools and Ecosystem

This notebook provides a summary of Data Science Tools and Ecosystem.

**Objectives:**
- List popular languages for Data Science
- List Commonly used libraries for Data Science
- List development environment open source tools

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. Vegas

| Data Science Tools|
| ------------------|
| Jupyter |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiplt then add integers
(3*4)+5

17

In [2]:
# The following expression converts minutes into hours
200/60

3.3333333333333335

## Author 
Farhat Naureen